/* ******* General ******* */
.only-desktop{
    display: none;
}

/* ******* Header style ******* */
header{
    margin-top: 4.125rem;
    margin-bottom: 6.125rem;

    padding: 0 1rem;
}

header > #text-content{
    margin-bottom: 3.5rem;

    text-align: left;
}

header > #text-content > #page-title{
    margin-bottom: 0.5625rem;
}

header > #text-content > #page-title > span{
    display: block;
}

header > #text-content > #page-description{
    text-align: justify;
}

header > #buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border-radius: 4px;
}

header > #buttons> button{
    width: 160px;
    height: 40px;
}


/* ******* Main style ******* */
main > section:first-child{
    margin-bottom: 5.6875rem;

    padding: 0 1rem;
}

main > section:first-child > section{
    margin-bottom: 1.875rem;
}

main > section:first-child > section > h2{
    margin-bottom: 1.0625rem;
}

main > section:first-child > section > p{
    margin-bottom: 1.25rem;
}

main > section:first-child > section > p:last-child{
    margin-bottom: 0;
}

main > section#call-subscribe-newsletter > form.form-subscribe-newsletter{
    width: 100%;
    padding: 0 15px;
}

main > section:first-child > form > section#form-body > section.form-field,
main > section#call-subscribe-newsletter > form.form-subscribe-newsletter > section#form-body > section.form-field
{
    display: flex;
    flex-direction: column;
}

main > section:first-child > form > section#form-body > section.form-field > input,
main > section#call-subscribe-newsletter > form.form-subscribe-newsletter > section#form-body > section.form-field > input{
    height: 30px;
    border: 1px solid #707070;

    margin-bottom: 20px;
}

main > section#call-subscribe-newsletter > form.form-subscribe-newsletter > section#form-body > section.form-field#friend-email-field > input{
    margin-bottom: 42px;
}

main > section:first-child > form > section#form-body > section.form-field > label,
main > section#call-subscribe-newsletter > form.form-subscribe-newsletter > section#form-body > section.form-field > label
{
    margin-bottom: 7px;
}

main > section:first-child > form > section#form-body > section.form-field#gender-field{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;

    height: 14px;

    margin-bottom: 20px;
}

main > section:first-child > form > section#form-body > section.form-field#gender-field > section.gender-option{
    display: flex;
    align-items: center;
    gap: 5px;
}

main > section#call-subscribe-newsletter > form.form-subscribe-newsletter > section#form-footer{
    display: flex;
    justify-content: center;
}

main > section:first-child > form > section#form-footer > button,
main > section#call-subscribe-newsletter > form.form-subscribe-newsletter > section#form-footer > button{
    height: 39px;
    width: 100%;
}

main > section#call-subscribe-newsletter > form.form-subscribe-newsletter > section#form-footer > button{
    width: 60%;
}


main > #special-selection-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 8.0625rem;
}

main > #special-selection-container > #product-grade{
    display: flex;
    flex-wrap: wrap;

    padding: 0 0.625rem;
    margin-bottom: 53px;
}

main > #special-selection-container > #product-grade > .product-card{
    display: flex;
    align-items: center;
    gap: 23px;

    width: 100%;
}

main > #special-selection-container > #product-grade > .product-card > section{
    width: 50%;
}

main > #special-selection-container > #product-grade > .product-card > section.text-container > header.product-header{
    margin: 0;
    padding: 0;
    margin-bottom: 13px;
}

main > #special-selection-container > #product-grade > .product-card > section.text-container > .product-price-table > .old-price{
    margin-bottom: 6px;
}

main > #special-selection-container > #product-grade > .product-card > section.text-container > .product-price-table > .new-price > p:first-child{
    margin-bottom: 6px;
}

main > #special-selection-container > #product-grade > .product-card > section.text-container > footer{
    margin-top: 10px;
}

main > #special-selection-container > #product-grade > .product-card > section.text-container > footer > button{
    width: 100%;
    height: 30px;
}

main > #special-selection-container > #product-grade > .product-card > section > .product-image{
    width: 100%;
}

main > #special-selection-container > button{
    height: 39px;
    width: 260px;
}


main > #call-subscribe-newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 9.75rem;
}

main > #call-subscribe-newsletter > h3{
    margin-bottom: 1.125rem;
}

main > #call-subscribe-newsletter > p{
    text-align: center;

    margin-bottom: 1.75rem;
}


/* ******* Footer style ******* */
footer.page-footer{
    margin-bottom: 36px;
}
footer.page-footer > p{
    text-align: center;
}